<ion-header>
    <ion-toolbar>
        <ion-title>Notes</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card  *ngIf="!notes" class="ion-padding" text-center>
        <ion-card-content>Take a note about your best moments.</ion-card-content>
    </ion-card>

    <app-note-holder [notes]="notes"></app-note-holder>

    <ion-fab  vertical="bottom" horizontal="end" slot="fixed" (click)="openNewNotePage()">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
