<ion-content class="ion-padding">
  <div>
      <ion-item>
          <ion-thumbnail slot="start">
              <img src="{{item.picture}}">
          </ion-thumbnail>
          <ion-label>
              <h2>{{item.title}}</h2>
          </ion-label>
      </ion-item>

   <ion-item>
     <ion-label>
         <h5>Date: <b>{{friday}}</b></h5>
         <h5>Party with: <b>{{item.fridayEvent}}</b></h5>
         <h5 *ngIf="item.enteringPriceF">Entering Price: <b>{{item.enteringPriceF | currency}}</b></h5>
         <h5 *ngIf="!item.enteringPriceF">Еntrance: <b>Free</b></h5>
     </ion-label>
   </ion-item>

    <ion-item>
      <ion-label>
          <h5>Saturday: <b>{{saturday}}</b></h5>
          <h5>Party with:<b>{{item.saturdayEvent}}</b></h5>
          <h5 *ngIf="item.enteringPriceS">Entering Price: <b>{{item.enteringPriceS | currency}}</b></h5>
        <h3 *ngIf="!item.enteringPriceS" >Entrance: <b>Free</b></h3>
      </ion-label>
    </ion-item>
  </div>
  <ion-button size="full" color="primary" (click)="dismissPopover()">Close</ion-button>
</ion-content>
