<ion-header>
  <ion-toolbar>
    <ion-title>
      Places you should visit in Kicevo!
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets/images/manastirb1.jpg" />
      <ion-card-title class="ion-text-center"><b>The Monastery of St. Bogorodica Prečista</b></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      The Monastery of St. Bogorodica Prečista (Immaculate Mother of God) (Macedonian: Света Богородица Пречиста, Sveta
      Bogorodica Prečista) is a Macedonian Orthodox monastery...
    </ion-card-content>
    <ion-button size="default" fill="clear" color="primary" (click)="viewPage('bogorodica')">View more</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="assets/images/manastirg1.jpg" />
      <ion-card-title class="ion-text-center"><b>Monastery of Knezhino St. Georgija</b></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Knežino Monastery is located west of the town of Kičevo, near the village Knežino on the slopes of the Bistra
      mountain, at an altitude of over 900 meters. The main church is dedicated to St. George...
    </ion-card-content>
    <ion-button size="default" fill="clear" color="primary" (click)="viewPage('georgija')">View more</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="assets/images/muzej1.jpg" />
      <ion-card-title class="ion-text-center"><b>Museum "Western Macedonia in the NOB"</b></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Museum "Western Macedonia in the NOB" (Macedonian Museum "Western Macedonia in the NOB") is a cultural institution
      located next to the town of Kichevo, which has been embroiled r...
    </ion-card-content>
    <ion-button size="default" fill="clear" color="primary" (click)="viewPage('museum')">View more</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="assets/images/kale1.jpg" />
      <ion-card-title class="ion-text-center"><b>"Kitino Kale"</b></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Kitino Kale - Kicevo archaeological site of the type of fortified settlement from the Bronze Age and the Middle
      Ages....
    </ion-card-content>
    <ion-button size="default" fill="clear" color="primary" (click)="viewPage('kitino-kale')">View more</ion-button>
  </ion-card>
</ion-content>
