<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title><b>Monastery of Knezhino St. Georgija</b></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <img src="assets/images/manastirg1.jpg">
            <ion-card-title class="ion-text-center"><b>Monastery of Knezhino St. Georgija</b></ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Knežino Monastery is located west of the town of Kičevo, near the village Knežino on the slopes of
            the Bistra mountain, at an altitude of over 900 meters. The main church is dedicated to St. George.
            The area is rich in vegetation, with beech and oak forest. In the monastery courtyard is a fountain in the
            spring water flow. Today the monastery complex is
            the archaeological site and is a important monument of the Macedonian spiritual and historical treasure.
            <img src="assets/images/manastirg2.jpg">
        </ion-card-content>

        <ion-card-content>
            A Knezinski monastery in the past and an important monument of Macedonian spiritual and
            historical treasure can be discovered. the monastery's titular is the godly Knegina Kita,
            sister of many King Marco. Foundations of the church, frescoes and mosaics from the 15th century.
            A place to live, next to a church in the tomb, is the discovery of the
            Knegate Kita with a gemstone ring. The monastery was also unique in its view of spiritual and monastic centers
            <img src="assets/images/manastirg3.jpg">
        </ion-card-content>
    </ion-card>
</ion-content>

