<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title><b>Kitino Kale</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets/images/kale1.jpg">
      <ion-card-title class="ion-text-center"><b>The Monastery of St. Bogorodica Prečista</b></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Kitino Kale - Kicevo archaeological site of the type of fortified settlement from the
      Bronze Age and the Middle Ages.
      The place was named Kitono Kale after Princess Kita, King Marco's sister, who lived in the castle of
      Kale. Kichevo was also called Kittinggrad at this time. The fortress covers an area of 1.5 hectares and encompasses 440 m walls and
      five towers. Near the ramparts there was a clock tower, which was destroyed in a fire.
    </ion-card-content>


    <ion-card-content>
      <img src="assets/images/kale2.jpg">
      The fortress (in a form that existed until less than 150 years ago) dates from Ancient Rome.
      Information about the existence of Kicevo (like Kicavis) is obtained from the Byzantine Emperor Basil II.
      At that time, the city was well-established and was an important military-administrative and
      commercial center of the kingdom of Samuel. It is known that Serbian Emperor Uros II was also present
      here. In the period 1282-1295, during the wars between Byzantium and Serbia, Serbian King Milutin conquered
      Kicevo and then the Byzantine armies finally left the city. Under Serbian rule, the city remained until 1385,
      when the Ottomans occupied it. Kitino Kale then serves as the headquarters of the Turkish authorities.
      Later (around 1850), the fortress lost its role and was abandoned,
      after which the surrounding population was allowed to use the stone from the fortress to build buildings.
    </ion-card-content>


    <ion-card-content>
      <img src="assets/images/kale3.jpg">
      The hill rises about 20 meters from the downtown area. Remains near the fortress are noticeable but
      do not dominate the surroundings. Before the Second World War, the fortress had a monument to King Peter I
      Karadjordjevic, a
      Skanderbeg monument during World War II, and a post-war monument to the national hero Olga Miceska
      was erected in the 1960s.
    </ion-card-content>
  </ion-card>
</ion-content>

