<ion-header>
  <ion-toolbar>
    <ion-title><b>The Monastery of St. Bogorodica Prečista</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets/images/manastirb1.jpg">
      <ion-card-title class="ion-text-center"><b>The Monastery of St. Bogorodica Prečista</b></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      The Monastery of St. Bogorodica Prečista (Immaculate Mother of God) (Macedonian: Света Богородица Пречиста,
      Sveta Bogorodica Prečista) is a Macedonian Orthodox monastery situated near
      the city of Kicevo, Republic of Macedonia. It is dedicated to the Virgin Mary, Mother of God.
    </ion-card-content>


    <ion-card-content>
      <img src="assets/images/manastirb2.jpg">
      It`s located in high mountains few kilometers away from town of Kicevo.To reach this monastery,You must leave
      Kicevo and head it on the way to Ohrid. After Kicevo, next is the village of Drugovo.
      After Drugovo, on the crossroad, You must turn left to enter the road to Bitola. Few kilometers on that road ,
      on the left side there is a traffic sign "Precista" showing the way up to the monastery.
      There You must turn left, exit the road to Bitola, and head it up on a small mountain road to Monastery.
    </ion-card-content>


    <ion-card-content>
      <img src="assets/images/manastirb3.jpg">
      <b>The biggest legend</b> about this Monastery is the "Legend of flying Icon". One icon of Mother of God
      in this monastery was 3 time sent to Knezino Monastery.Every time,
      at night this Icon followed by rey of light on the sky was coming back to this Monastery on it`s original place.
    </ion-card-content>

    <ion-button size="default" fill="clear" color="primary" (click)="goBack()">Go Back</ion-button>
  </ion-card>
</ion-content>
