<ion-header>
  <ion-toolbar>
    <ion-title><b>Museum "Western Macedonia in the NOB"</b>j</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets/images/muzej1.jpg">
      <ion-card-title class="ion-text-center"><b>Museum "Western Macedonia in the NOB"</b></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Museum "Western Macedonia in the National Liberation Army" is a cultural institution based in the town of
      Kicevo, which collects materials related to the fight against Ottoman rule in the 19th century, the Ilinden
      Uprising and the People's
      Liberation Struggle in Western Macedonia. The museum opened in 1980 and is located on the square in Kicevo.
    </ion-card-content>

    <ion-card-content>
      <img src="assets/images/muzej2.jpg">
      The building, which houses the museum today, was built in 1892. It had a particularly important
      role during the National Liberation War when, in September 1943, it was the headquarters of the People's
      Liberation Army Headquarters and partisan units of Macedonia.
      The building was transformed into a permanent exhibition museum and officially opened on October 11, 1980.
    </ion-card-content>

    <ion-card-content>
      <img src="assets/images/muzej3.jpg">
      The permanent exhibition of the museum shows the struggle of the Macedonian people for freedom during the XIX and XX centuries,
      a series of documents comprising authentic materials, objects, photographs,
      drawings, maps, flags, models and texts. In addition to the materials, there is also a display of real weapons
      used by insurgents in these areas over the years.
    </ion-card-content>
    <ion-button size="default" fill="clear" color="primary" (click)="goBack()">Go Back</ion-button>
  </ion-card>
</ion-content>
